.table-upload td {
  border: 1px solid var(--clr-main-light);
  padding: 7px;
  // border-collapse: collapse;
  // width: 90%;
}

.table-headers {
  color: var(--clr-main);
}

.upload-container {
  // width: 90%;
  // margin: auto;
  position: relative;
}

.table-upload {
  border-collapse: collapse;
  margin: auto;
  justify-items: center;
}

.checkbox {
  & input {
    display: flex;
    margin: auto;
  }
}

.success-upload {
  background-color: rgba(171, 207, 171, 0.84);
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 30px;

  & h3 {
    font-size: 2rem;
  }

  & button {
    padding: 10px;
  }
}
