.hidden {
  visibility: none;
}

.hide {
  display: none;
}

.display-none {
  display: none;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}

.text-center {
  text-align: center;
}

.content {
  padding-top: 4rem;
}

.sidebar-link {
  text-decoration: none;
  color: var(--clr-main-light);

  &:hover {
    cursor: pointer;
  }
}

.grid-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.chart-outer-container {
  height: 70vh;
}
.chart-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.money-in {
  color: green;
}
.money-out {
  color: red;
}

.dropdown {
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 4px;
}

// .navbar-link {
//   text-decoration: none;
//   color: inherit;
//   margin-left: auto;
// }
