:root {
  --clr-main-light: #2b5f94;
  --clr-main: #1b3b5b;
  --clr-main-dark: #162c42;
  --clr-accent-light: #6dc86d;
  --clr-accent: #069d06;
  --clr-accent-dark: #065406;
  --clr-red: rgb(169, 21, 21);
  --clr-red-light: rgb(222, 73, 73);
  --clr-light-gray: rgb(227, 227, 227);
  --clr-mid-gray: rgb(148, 148, 148);
  --clr-dark-gray: rgb(77, 77, 77);
  --clr-white: rgb(255, 255, 255);

  --clr-bell: rgb(31, 31, 207);
  --clr-pp: rgb(218, 123, 204);
  --clr-kk: rgb(39, 204, 207);
  --clr-gov: gray;
  --clr-free: rgb(232, 202, 32);

  --clr-bg-gradient: linear-gradient(
    150deg,
    rgb(245, 245, 245),
    rgb(221, 221, 221)
  );
}
